@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20%;
}
html,
body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #000;
  text-align: left;
}

/* Navbar */
.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 1px 3px #ccc;
}
.navbar-title {
  font-size: 1.2rem;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  list-style: none;
}
.navbar-logo {
  background-color: transparent;
  height: 45px;
}
.navbar-nav li {
  margin: 2px 15px;
}
.navbar-nav li a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  /* margin: 2px 15px; */
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.navbar-nav-active {
  /* background-color: #f4f4f4; */
  color: #333;
  font-weight: 700 !important;
  border-bottom: 1px solid;
}

/* Search Content */

.search-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.search-input-groups {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
}
.search-input-groups label {
  font-weight: 500;
  letter-spacing: 1.25px;
}
.search-input-groups label,
.search-input-groups input,
.search-input-groups select {
  margin: 7px 0;
}
.search-input-groups input {
  outline: none;
}
.search-input-groups input,
.search-input-groups select {
  padding: 5px;
}
.search-input-groups input[type="text"]:focus {
  background: #f9f9f9;
  border: 2px solid #c7c7c7;
}
.search-input-groups label {
  font-weight: 500;
}

.form-groups-range {
  height: 5px;
  border-radius: 5px;
  transition: all 600ms;
}
.form-range-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.form-range-container span {
  font-size: 0.9rem;
}
.form-range-container span:first-child {
  padding-right: 7px;
}
.form-range-container span:last-child {
  padding-left: 7px;
}
.form-range-container input {
  width: 85%;
  /* flex: 1; */
}
.form-groups-range::-moz-range-thumb {
  background-color: #ccc;
}

.search-input-groups span.form-groups-range-value {
  position: absolute;
  bottom: -20px;
}
.form-groups-range-min {
  left: 10px;
}
.form-groups-range-max {
  right: 10px;
}

.search-results-container {
  width: 100%;
  height: auto;
  margin: 25px auto;
}
.search-results-container h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid;
  color: #4ca6ff;
}
.search-results{
  width:100%;
}
.display {
  width: 100%;
  height: auto;
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start; */
  margin-top: 15px;
  padding:0px;
}
.search-results > div {
  width: 100%;
  height: 100%;
  /* padding: 10px; */
}
.results-list-container {
  /* background-color: rgb(59, 114, 185, 0.8); */
  /* background-color: #4ca6ff; */
  flex: 4;
  
}
.results-list-container ul {
  
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  list-style: none;
  margin: 0;
  /* border: 2px solid #4ca6ff; */
  overflow-y: hidden;
  /* padding-top: 4px */
}
.results-list-page-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}
.results-list-page-nav button {
  background-color: transparent;
  border: none;
  text-align:center;
  cursor: pointer;
  border: 1px solid transparent;
}
.results-list-page-nav button img{
  text-align:left;
  padding-left:4px;
  
}
.results-list-page-nav button:hover {
  font-weight: 700;
}
.results-list-container ul li {
  padding: 10px;
  
  cursor: pointer;
}
.results-list-container ul li a {
  color: inherit;
  text-decoration: none;
}
.results-list-container ul li:nth-child(odd) {
  background-color: #f7f7f7;
  
}
.results-list-container ul li:nth-child(odd):hover {
  background-color: #f2f2f2;

}
.results-list-container ul li:nth-child(even) {
  background-color: #ffffff;
}
.results-list-container ul li:nth-child(even):hover {
  background-color: #f2f2f2;
}
.results-data-container {
  /* background-color: #66b2ff;
  color: #fff; */
  flex: 6;
  margin: 0;
  padding:10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  border: 2px solid #f7f7f7;
  background-color:#f7f7f7;

  font-weight: 500;
}
.results-data-container p {
  display: flex;
}
.results-data-title {
  flex: 3;
  text-transform: capitalize;
}
.results-data-title p {
padding:5px;}
.results-data-value {
  flex: 7;
}
.results-data-value p {
padding:5px;}
.results{
  text-align:left
}
.result-data-name{
  text-align:center;
  font-size: large;

}
.result-data-department{
  color:cyan;
  text-align:center;
}
.details{
  font-weight: bolder;
  margin:10px;
  text-decoration:underline;
text-align:center;}
.particulars{
  display:grid;
  grid-gap:1rem;
}
.particulars p{
  color:blue;

}
.tab p{
  color:blue;
}
.task{
  display:grid;
  grid-gap:1.5rem;
}